.title{
    font-weight: bolder;
    font-size: 20px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40vw;
    margin: 0 auto;
    grid-area: f;
}
.paragraph{
    text-align: left;
    font-size: 20px;
    color: #2c2c2c;
}
.columns_wrapper{
    display: grid;
    grid-template-areas: "f s";
    grid-gap: 20px;
    flex-direction: row;
    gap: 20px;
}
.second_column{
    grid-area: s;
    width: 20vw;
    position: relative;
    left: 14vw;
}
.item_title{
    height: 30px;
    font-size: 12px;
}
.item_img{
    width: 20vw;
}